*{
    margin: 0;
    padding: 0;
}
.signup-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #2563eb, #1e40af); */
    /* background: linear-gradient(135deg, #7c3aed, #655ee8); */
    /* background: linear-gradient(135deg, #eba26e, #e26f6f); */
    background: linear-gradient(135deg, #EDE9FE, #DDD6FE);
}
.signup-container{
    width: 300px;
    height: 350px;
    border: 2px solid gray;
    padding: 10px;
    box-shadow: 2px 2px 4px grey;
    border-radius: 30px;
}
.signup-container h1{
    text-align: center;
    padding: 20px 10px;
}
.signup-container input{
    margin: 10px;
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    width: 250px;
}
.signup-container button{
    padding: 15px 20px;
    width: 130px;
    font-size: 13px;
    background-color: rgba(81, 81, 232, 0.979);
    color: white;
    margin: 10px 80px;
    border: none;
    border-radius: 40px;
}